{% extends 'master.html'%}


{% block content %}
<h2>Gerenciamento de estoque</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Produto</th>
            <th>Descricão</th>
            <th>Preço</th>
            <th>Estoque Maximo</th>
            <th>Estoque Minimo</th>
            <th>Gerenciar</th>
        </tr>
    </thead>
    <tbody>
        {% if estoque %}
            {% for produto in estoque %}
                <tr>
                    <td>{{ estoque.nome_produto }}</td>
                    <td>{{ estoque.descricao }}</td>
                    <td>{{ estoque.preco }}</td>
                    <td>{{ estoque.max_estoque }}</td>
                    <td>{{ estoque.min_estoque }}</td>
                    <td>{{ estoque.created_at }}</td>
                    <td>{{ estoque.updated_at }}</td>
                    <td>{{ estoque.gerenciar }}</td>
                </tr>
            {% endfor %}
            {% else %}
                <tr>
                    <td class='text-center' colspan='6'>Nenhum produto no estoque</td>
                </tr>
            {% endif %}
    </tbody>
</table>

{%  endblock %}